.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'PT Serif', serif;

  &__title {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 2.5rem;
    padding-left: 1rem;
    order: 1;
  }

  &__navigation {
    order: 2;
  }

  &__shopping-cart {
    align-self: center;
    padding-right: 1rem;
    order: 3;
  }
}

.shopping-cart {
  font-size: 1.3rem;

  &__cart-icon {
    font-size: 2.2rem;
    color: cadetblue;
    margin-right: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__item {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .header {
    &__navigation {
      width: 100%;
      order: 3;
    }

    &__shopping-cart {
      order: 2;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    &__title {
      font-size: 2rem;
    }
  }

  .shopping-cart {
    font-size: 1rem;

    &__cart-icon {
      font-size: 1.5rem;
    }
  }

  .navigation {
    &__item {
      font-size: 1rem;
    }
  }
}
